body{
	font-size: 130%;
}
h1{
	text-align: center;
	margin-bottom: 40px;
	font-family: "Comic Sans MS", cursive, sans-serif ;
	color: brown;
	font-size: 285%;

}
.div1 , .div2 ,.div3{
	position: relative;
	float: left;
}

.sec{
	position: relative;
	float: left;
	background-color: grey;
	padding: 0px 0px 3px 3px ;
	border: 1px solid black;
	box-sizing: border-box; 
	margin:5px;
	font-family:"Comic Sans MS", cursive, sans-serif ;

}
#chicken ,#beef ,#sushi{
	font-size: 130%;
	border: 1px solid black;
	float: right;
	color: white;
	font-style: bold;
	position: relative;
	top:-1px;
	right:-1px;
	width: 100px;
	text-align: center;

}
#chicken{
	background-color:red;
}
#beef{
	background-color: green;
}
#sushi{
	background-color: blue;
}

@media (min-width: 992px){
	.div1 , .div2 ,.div3{

		width: 33.33%;
		
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.div1{
		width: 50%;
	}
	.div2{
		width: 50%;
	}
	.div3{
		width: 100%;
	}
}