body{
	font-size: 130%;
	background-color: rgb(255,193,193);
}
h1{
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Akronim';
	color: brown;
	font-size: 285%;

}

.sec{
	position: relative;
	float: left;
	background-color: gold;
	padding:0px 0px 3px 3px ;
	border: 1px solid black;
	box-sizing: border-box; 
	margin:5px;
	font-family:"Comic Sans MS", cursive, sans-serif ;

}
#chicken ,#beef ,#sushi{
	font-size: 130%;
	border: 1px solid black;
	float: right;
	color: white;
	font-style: bold;
	position: relative;
	top:-1px;
	right:-1px;
	width: 100px;
	text-align: center;

}
#chicken{
	background-color:red;
}
#beef{
	background-color: green;
}
#sushi{
	background-color: blue;
}
/*I didn't use the 12-grid system here.
The margins are taking up some space, forcing the sections to appear in the next line before reaching the width reach the breakpoint. */
@media (min-width: 992px){
	.sec{

		width: 32%;
		
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.sec1{
		width: 48%;
	}
	.sec2{
		width: 48%;
	}
	.sec3{
		width: 97%;
	}
}