body{
	background-color: grey;
}
/* navbar begin */
#header-nav{
	padding: 10px 0px 0px;
}

#brand{
	font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2em;
  
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#menu{
	background-color: rgb(74,255,74);
}
div ul li{
	margin: auto;
	display: block;
}
div ul li a{
	color: rgb(168,59,20);
}


/*navbar ends */

/*main-content */

.container{
	max-width:2822px;
	margin: 0;
}

#main-content{
	margin: auto;
}

#our-menu{
	color: red;
	padding:10px;
	font-size: 2.5em;
}

.div1,.div2,.div3{
	background-color: rgb(255,201,14);
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid black;
}

#chicken, #beef , #sushi{
	color: blue;
}
